@keyframes blink {
 from, to { border-color: transparent }
 50% { border-color: black }
}


.search-bar-container {
 display: flex;
 justify-content: center;
 padding-top: 4rem;
 padding-bottom: 1rem;
 background-color: white;

}



.search-bar {
justify-content: flex-start;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 950px;
  padding: 1rem;
  background: #fff;
  border-radius: 30px;
  border: 5px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}




.search-logo {
 width: 60px;
 height: 60px;
}


.search-input {
 font-size: 1.8rem;
 color: black;
 background-color: transparent;
 border: none;
 outline: none;
 width: 100%;
 padding: 0.5rem 2rem;
 margin-right: 2rem;
}


.typing-cursor {
 position: absolute;
 right: 1rem;
 top: 50%;
 transform: translateY(-50%);
 background: black;
 width: 2px;
 height: 1rem;
 animation: blink 1s steps(5, start) infinite;
}


.title-padder {
 padding-top: 2rem;
 background-color: white;
 text-align: center;


}


.text-spacing {
 display: block;
 margin-top: 0.1rem;
 margin-bottom: 0.1rem;
}

.search-text {
  font-size: 1.8rem;
  color: black;
  margin-right: 1rem;
}



.header-title span {
 display: block;
}


.line-spacing {
 margin-top: 0.5rem;
 font-size: inherit;
}


.header-title {
 font-size: 4rem;
 color: black;
 justify-content: center;
 text-align: left;
 position: relative;
 margin-bottom: 1rem;
 margin-left: 20%;
}

.rainbow-line {
 position: absolute;
 left: 50%;
 margin-top: 1rem;
 transform: translateX(-59.5%);
 bottom: 0;
 width: 84%;
 height: 3.9px;
 background:
   linear-gradient(red, red) 0% 0%/14.28% 100% no-repeat,
   linear-gradient(orange, orange) 14.28% 0%/14.28% 100% no-repeat,
   linear-gradient(yellow, yellow) 28.56% 0%/14.28% 100% no-repeat,
   linear-gradient(green, green) 42.84% 0%/14.28% 100% no-repeat,
   linear-gradient(blue, blue) 57.12% 0%/14.28% 100% no-repeat,
   linear-gradient(indigo, indigo) 71.4% 0%/14.28% 100% no-repeat,
   linear-gradient(violet, violet) 85.68% 0%/14.28% 100% no-repeat;
}


@media (max-width: 768px) {
  .title-padder {
    padding-top: 1rem;
  }

  .search-bar-container {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }

  .search-bar {
    width: 95%;
    margin-bottom: 0.5rem;
  }

  .header-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 10%;
  }

  .search-input {
    font-size: 1rem;
  }

  .typing-cursor {
    right: 0.5rem;
  }

  .rainbow-line {
    width: 85%;
    margin-top: 0.5rem;
  }
}
